html, body {
    height: 100%;
    background: white;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    aspect-ratio: 1.5;
    background: black;
}

#fps {
    position: absolute;
    top: 40px;
    right: 40px;
    color: black;
}